
              <li class="nav-item dropdown">
                <a class="nav-link text-light dropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="badge badge-pill badge-danger count" style="border-radius:10px;"></span>
                <span class="fa fa-bell" style="font-size:18px;"></span>
                </a>
                  <!-- style for scroll goes here -->
                  <ul class="dropdown-menu"> </ul>
                </li>
                <li class="active"><a class="nav-item nav-link active" href="_blank">Home</a></li>
                <li><a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a></li>
                <li><a class="nav-item nav-link" href="#">Edit Profile</a></li>