{% load static %}
<nav class="navbar navbar-default navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img src="{% static 'img/petfindertt.png' %}" style="height:60px"></a>
    <span class="navbar-text custom-color" id="navTitle" style="font-size: 45px;">PetfinderTT</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
      <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            {% include 'partials/nav-links-logged-in.html' %}
            {% else %}
            {% include 'partials/nav-links-logged-out.html' %}
            
            </ul>
            {% include 'partials/login-form.html' %}
            {%endif%}
      </div>
  
    </div>
  </nav>