{% load static %}
<div id= "secondnav">
<ul class="nav nav-tabs justify-content-center" style="background-color:#AC5E15;">
  <li class="nav-item">
    <a class="nav-link text-light" href="{% url 'postmissingpets' %}">Make Report</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="#">Updates</a>
  </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="#">Missing Pets</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="#">Adopt a Stray</a>
    </li>
  </ul>
</div>