<hr>
                                            <div class='row'>
                                                <div class='col-sm-3 col-md-2 col-5'>
                                                    <label style='font-weight:bold;'>Name</label>
                                                </div>
                                                <div class='col-md-8 col-6'>
                                                <input type='hidden' value='{$id}' class='form-control' id='a_type' name='id'>
                                                  <input type='text' value='{$name}' class='form-control' id='a_type' name='name'>
                                                </div>
                                            </div>
                                            <hr />
                                               <div class='row'>
                                                   <div class='col-sm-3 col-md-2 col-5'>
                                                       <label style='font-weight:bold;'>Type of animal</label>
                                                   </div>
                                                   <div class='col-md-8 col-6'>
                                                     <input type='text' value='{$atype}' class='form-control' id='a_type' name='atype'>
                                                   </div>
                                               </div>
                                               <hr />


                                               <div class='row'>
                                                   <div class='col-sm-3 col-md-2 col-5'>
                                                       <label style='font-weight:bold;'>Breed</label>
                                                   </div>
                                                   <div class='col-md-8 col-6'>
                                                       <input type='text' value='{$breed}' class='form-control' id='a_type' name='breed'>
                                                   </div>
                                               </div>
                                               <hr />
                                               <div class='row'>
                                                   <div class='col-sm-3 col-md-2 col-5'>
                                                       <label style='font-weight:bold;'>Description</label>
                                                   </div>
                                                   <div class='col-md-8 col-6'>
                                                       <textarea class='form-control' id='desc' name='description'>{$desc}</textarea>
                                                   </div>
                                               </div>
                                               <hr />
                                               <div class='row'>
                                               <div class='col-sm-3 col-md-2 col-5'>
                                                       <label style='font-weight:bold;'></label>
                                                   </div>
                                                   <div class='col-md-8 col-6'>
                                               <div class='form-control' id='myMap'></div><br/>
                                               </div>
                                               </div>
                                               <hr/>
                                               <div class='row'>
                                                   <div class='col-sm-3 col-md-2 col-5'>
                                                       <label style='font-weight:bold;'>Location last seen</label>
                                                   </div>
                                                   <div class='col-md-8 col-6'>
                                                       <input type='text' value='{$address}' class='form-control' id='address' name='address'>
                                                   </div>
                                               </div>
                                               <hr/>
                                               <div class='row'>
                                                   <div class='col-sm-3 col-md-2 col-5'>
                                                       <label style='font-weight:bold;'>Coordinates of last seen location</label>
                                                   </div>
                                                   <div class='col-md-8 col-6'>
                                                    Latitude: <input type='text' value='{$lat}' class='form-control' id='latitude' name='latitude'>
                                                    Longitude: <input type='text' value='{$long}' class='form-control' id='longitude' name='longitude'>
                                                   </div>
                                               </div>
                                               <hr />
                                               <div class='row'>
                                                   <div class='col-sm-3 col-md-2 col-5'>
                                                       <label style='font-weight:bold;'>Change Profile Picture</label>
                                                   </div>
                                                   <div class='col-md-8 col-6'>
                                                       <input class='form-control' type='file' name='main_image' accept='image/*'  id='main_image'>
                                                   </div>
                                               </div> <hr/>
